@font-face {
  font-family: "Space Mono";
  font-style: normal;
  src: url("../SpaceMono-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: normal;
  src: url("../CutiveMono-Regular.ttf") format('truetype');
}